.idea
*.mat
*.txt
*.zip
*.npz
.idea/
/develop/
build
dist
/examples/TestModel/*
/examples/TestModel*
/examples/butene_energy_force/*
/examples/butene_energy_force
/examples/kt_test/
/examples/butene_nac2/
/examples/TestEnergy/
/examples/TestEnergyGradient/
/examples/TestGradient2/
/examples/TestNAC/
/examples/TestNAC2/
/examples/TestEnergySchnet/
